In [74]:
import pandas as pd

df = pd.read_csv('qs data.csv')

In [75]:
df

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6477,Université de Tunis,2022,1201,NaN,https://www.topuniversities.com/universities/u...,Tunisia,Tunis,Africa,https://www.topuniversities.com/sites/default/...,Public,High,17.0,57,L,"1,174"
6478,Université de Tunis El Manar,2022,1201,NaN,https://www.topuniversities.com/universities/u...,Tunisia,Tunis,Africa,https://www.topuniversities.com/sites/default/...,Public,Very High,8.0,585,L,"3,504"
6479,Yarmouk University,2022,1201,NaN,https://www.topuniversities.com/universities/y...,Jordan,Irbid,Asia,https://www.topuniversities.com/sites/default/...,Public,Medium,31.0,"2,826",XL,"1,113"
6480,Yildiz Technical University,2022,1201,NaN,https://www.topuniversities.com/universities/y...,Turkey,Istanbul,Asia,https://www.topuniversities.com/sites/default/...,Public,High,20.0,"2,394",XL,"1,688"
6481,Zagazig University,2022,1201,NaN,https://www.topuniversities.com/universities/z...,Egypt,Zagazig,Africa,https://www.topuniversities.com/sites/default/...,Public,High,26.0,"2,300",XL,"5,871"

In [38]:
df_year_count_by_country = pd.DataFrame(df.groupby(['country','region','year']).size()).reset_index()

In [39]:
df_year_count_by_country= df_year_count_by_country.rename(columns={0: "counts"})

In [40]:
df_year_count_by_country

       country         region  year  counts
0    Argentina  Latin America  2017      16
1    Argentina  Latin America  2018      16
2    Argentina  Latin America  2019      15
3    Argentina  Latin America  2020      15
4    Argentina  Latin America  2021      21
..         ...            ...   ...     ...
519  Venezuela  Latin America  2022       5
520    Vietnam           Asia  2019       2
521    Vietnam           Asia  2020       3
522    Vietnam           Asia  2021       4
523    Vietnam           Asia  2022       4

[524 rows x 4 columns]

In [41]:
df_year_count_by_country.to_csv('count_by_country.csv')

In [44]:
df_year_count_by_country

       country         region  year  counts
0    Argentina  Latin America  2017      16
1    Argentina  Latin America  2018      16
2    Argentina  Latin America  2019      15
3    Argentina  Latin America  2020      15
4    Argentina  Latin America  2021      21
..         ...            ...   ...     ...
519  Venezuela  Latin America  2022       5
520    Vietnam           Asia  2019       2
521    Vietnam           Asia  2020       3
522    Vietnam           Asia  2021       4
523    Vietnam           Asia  2022       4

[524 rows x 4 columns]

In [45]:
df_year_count_by_country.insert(1, "year", 2016)

ValueError: cannot insert year, already exists

In [76]:
top_unis = ['Massachusetts Institute of Technology (MIT) ', 'Stanford University', 'University of Oxford', 'Harvard University', 'University of Cambridge', 'California Institute of Technology (Caltech)', 'ETH Zurich - Swiss Federal Institute of Technology', 'Imperial College London', 'UCL', 'University of Chicago']
topunis_df = df[df['university'].isin(top_unis)][['year','university','rank_display','country','region','type','research_output','international_students','faculty_count']].reset_index(drop=True)

In [77]:
topunis_df

,year,university,rank_display,country,region,type,research_output,international_students,faculty_count
0,2017,Massachusetts Institute of Technology (MIT),1,United States,North America,Private,Very High,"3,730","3,065"
1,2017,Stanford University,2,United States,North America,Private,Very High,"3,879","4,725"
2,2017,Harvard University,3,United States,North America,Private,Very High,"5,877","4,646"
3,2017,University of Cambridge,4,United Kingdom,Europe,Public,Very high,"7,925","5,800"
4,2017,California Institute of Technology (Caltech),5,United States,North America,Private,Very High,692,968
5,2017,University of Oxford,6,United Kingdom,Europe,Public,Very High,"8,442","6,708"
6,2017,UCL,7,United Kingdom,Europe,Public,Very High,"21,824","7,195"
7,2017,ETH Zurich - Swiss Federal Institute of Techno...,8,Switzerland,Europe,Public,Very High,"7,733","2,719"
8,2017,Imperial College London,9,United Kingdom,Europe,Public,Very High,"11,143","8,000"
9,2017,University of Chicago,10,United States,North America,Private,Very High,"4,696","2,703"
10,2018,Massachusetts Institute of Technology (MIT),1,United States,North America,Private,Very High,"3,730","3,065"
11,2018,Stanford University,2,United States,North America,Private,Very High,"3,879","4,725"
12,2018,Harvard University,3,United States,North America,Private,Very High,"5,877","4,646"
13,2018,California Institute of Technology (Caltech),4,United States,North America,Private,Very High,692,968
14,2018,University of Cambridge,5,United Kingdom,Europe,Public,Very high,"7,925","5,800"
15,2018,University of Oxford,6,United Kingdom,Europe,Public,Very High,"8,442","6,708"
16,2018,UCL,7,United Kingdom,Europe,Public,Very High,"21,824","7,195"
17,2018,Imperial College London,8,United Kingdom,Europe,Public,Very High,"11,143","8,000"
18,2018,University of Chicago,9,United States,North America,Private,Very High,"4,696","2,703"
19,2018,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,Public,Very High,"7,733","2,719"
20,2019,Massachusetts Institute of Technology (MIT),1,United States,North America,Private,Very High,"3,730","3,065"
21,2019,Stanford University,2,United States,North America,Private,Very High,"3,879","4,725"
22,2019,Harvard University,3,United States,North America,Private,Very High,"5,877","4,646"
23,2019,California Institute of Technology (Caltech),4,United States,North America,Private,Very High,692,968
24,2019,University of Oxford,5,United Kingdom,Europe,Public,Very High,"8,442","6,708"
25,2019,University of Cambridge,6,United Kingdom,Europe,Public,Very high,"7,925","5,800"
26,2019,ETH Zurich - Swiss Federal Institute of Techno...,7,Switzerland,Europe,Public,Very High,"7,733","2,719"
27,2019,Imperial College London,8,United Kingdom,Europe,Public,Very High,"11,143","8,000"
28,2019,University of Chicago,9,United States,North America,Private,Very High,"4,696","2,703"
29,2019,UCL,10,United Kingdom,Europe,Public,Very High,"21,824","7,195"
30,2020,Massachusetts Institute of Technology (MIT),1,United States,North America,Private,Very High,"3,730","3,065"
31,2020,Stanford University,2,United States,North America,Private,Very High,"3,879","4,725"
32,2020,Harvard University,3,United States,North America,Private,Very High,"5,877","4,646"
33,2020,University of Oxford,4,United Kingdom,Europe,Public,Very High,"8,442","6,708"
34,2020,California Institute of Technology (Caltech),5,United States,North America,Private,Very High,692,968
35,2020,ETH Zurich - Swiss Federal Institute of Techno...,6,Switzerland,Europe,Public,Very High,"7,733","2,719"
36,2020,University of Cambridge,7,United Kingdom,Europe,Public,Very high,"7,925","5,800"
37,2020,UCL,8,United Kingdom,Europe,Public,Very High,"21,824","7,195"
38,2020,Imperial College London,9,United Kingdom,Europe,Public,Very High,"11,143","8,000"
39,2020,University of Chicago,10,United States,North America,Private,Very High,"4,696","2,703"
40,2021,Massachusetts Institute of Technology (MIT),1,United States,North America,Private,Very High,"3,730","3,065"
41,2021,Stanford University,2,United States,North America,Private,Very High,"3,879","4,725"
42,2021,Harvard University,3,United States,North America,Private,Very High,"5,877","4,646"
43,2021,California Institute of Technology (Caltech),4,United States,North America,Private,Very High,692,968
44,2021,University of Oxford,5,United Kingdom,Europe,Public,Very High,"8,442","6,708"
45,2021,ETH Zurich - Swiss Federal Institute of Techno...,6,Switzerland,Europe,Public,Very High,"7,733","2,719"
46,2021,University of Cambridge,7,United Kingdom,Europe,Public,Very high,"7,925","5,800"
47,2021,Imperial College London,8,United Kingdom,Europe,Public,Very High,"11,143","8,000"
48,2021,University of Chicago,9,United States,North America,Private,Very High,"4,696","2,703"
49,2021,UCL,10,United Kingdom,Europe,Public,Very High,"21,824","7,195"
50,2022,Massachusetts Institute of Technology (MIT),1,United States,North America,Private,Very High,"3,730","3,065"
51,2022,University of Oxford,2,United Kingdom,Europe,Public,Very High,"8,442","6,708"
52,2022,Stanford University,3,United States,North America,Private,Very High,"3,879","4,725"
53,2022,University of Cambridge,3,United Kingdom,Europe,Public,Very high,"7,925","5,800"
54,2022,Harvard University,5,United States,North America,Private,Very High,"5,877","4,646"
55,2022,California Institute of Technology (Caltech),6,United States,North America,Private,Very High,692,968
56,2022,Imperial College London,7,United Kingdom,Europe,Public,Very High,"11,143","8,000"
57,2022,ETH Zurich - Swiss Federal Institute of Techno...,8,Switzerland,Europe,Public,Very High,"7,733","2,719"
58,2022,UCL,8,United Kingdom,Europe,Public,Very High,"21,824","7,195"
59,2022,University of Chicago,10,United States,North America,Private,Very High,"4,696","2,703"

In [79]:
topunis_df.loc[topunis_df['year']==2022].to_csv('top2022.csv')

In [78]:
topunis_df.to_csv('top.csv')

In [ ]:
["research_output","international_students", "score"]